# aliases
alias s="bundle exec rake db:migrate ; foreman start"
alias c="bundle exec rails c"
alias con="git diff --name-only | uniq | xargs subl"

alias cb="git rev-parse --abbrev-ref HEAD"

alias files='git --no-pager diff --name-only HEAD^1 HEAD'
alias amend='git add --verbose $(git diff --name-only HEAD^1 HEAD) ; git commit --quiet --amend --no-edit'
alias amendp="amend ; git push origin HEAD -f"
alias deploy="git push heroku master -f"

alias gca="git commit --amend"
alias gcom="git checkout master"
alias gpom="git push origin master"
alias gs="git status"
alias cb="git rev-parse --abbrev-ref HEAD"

# Phoenix shortcuts
alias mt='echo "mix test" && mix test'
alias mps='echo "mix phx.server" && mix phx.server'
alias ph='echo "phantomjs --wd" && phantomjs --wd'
alias hexdocs='mix hex.docs offline'
alias resetdb="mix ecto.drop ; mix ecto.create ; mix ecto.migrate"

alias hist="history | grep"

alias td='cd ~/Code/tealdog'
alias hc='cd ~/Code/hireclub_web'

